.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: $hex-black;
    color: $hex-white;
    text-align: center;
    padding: em(45);
    @include box-shadow(0 0 em(2.5) 0 $hex-black);
    
    a {
        list-style: none;
        text-decoration: none;
        color: $hex-white;
    }
    a:hover {
        text-decoration: underline;
    }
}

.footer-links {
    list-style: none;
    font-weight: 700;
    padding: em(35) 0 em(23);
    margin: 0;
}

.copyright, .developer {
    text-align: center;
    
    a {
        color: $hex-yellow;
    }
}