html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: em(60);
    /* note: set margin-bottom to footer height */
}

p {
    display: block;
}

h1 {
    color: $hex-dark-red;
    font-size: em(36);
    margin-bottom: 0;
}

h2 {
    font-size: em(30);
}

address {
    display: block;
    margin: em(20) 0 0 0;
    font-style: italic;
}