@media (min-width: em(1.6)) { /* Custom: 1.6px = .1em */
    
    /*---> BOOTSTRAP <--*/
    
    .panel {
        margin-top: em(20);
    }
    
    /*----> GLOBAL <----*/
    
    h1, h2, address {
        text-align: center;
    }
    
    p {
        font-size: em(15);
    }
    
    /*--> STRUCTURAL <--*/
    
    .grid-container {
        padding: em(67) em(20) em(267) em(20);
    }
    
    .breadcrumb {
        
        > li {
            display: none;
        }
    }
    
    .custom-activity {
        
        h3 {
            text-align: center;
        }
    }
    
    /*--> PAGECONTENT <-*/
    
    .subheading, .subject-desc {
        text-align: center;
    }
    
    .embed-flash {
        
        object, embed {
            display: none;
        }
        
        &:after {
            content: "\ASorry! This activity doesn't work on mobile devices.";
            white-space: pre;
        }
    }
    
    /*-> ACTIVITYLIST <-*/
    
    .activity, .credits {
        padding: em(30) 0;
        
        h3, h4 {
            text-align: center;
        }
    }
    
    .activity {
        
        &:first-of-type {
            padding-top: em(15);
        }
    }
    
    .credits {
        h4 {
            margin-top: 0;
        }
        
        &:last-of-type {
            padding-bottom: em(15);
        }
    }
    
    .activity-ul {
        text-align: center;
    }
    
    .activity-ul-top {
        text-align: center;
    }
    
    .activity-thumbnail {
        
        img {
            display: block;
            margin: 0 auto;
        }
    }
    
    .activity-open {
        text-align: center;
    }
    
    /*----> HEADER <----*/
    
    .navbar-bottom {
        height: em(68);
    }
    
    /*----> FOOTER <----*/
    
    .footer-links {
        font-size: em(15);
        
        a {
            display: block;
            margin: em(4) 0;
            
            &:after {
                content: "";
                display: none;
            }
        }
    }
    
    .copyright, .developer {
        font-size: em(12);
    }
    
    /*--> CALCULATOR <--*/
    
    form.webcalc-form {
        margin: 0 auto;
    }
    
}

@media (min-width: em(768)) { /* Small devices */
    
    /*---> BOOTSTRAP <--*/
    
    .container {
        max-width: 720px;
    }
    
    /*----> GLOBAL <----*/
    
    h1, h2, address {
        text-align: left;
    }
    
    p {
        font-size: em(16);
    }
    
    /*--> STRUCTURAL <--*/
    
    .grid-container {
        padding: em(96) 0 em(212) 0;
    }
    
    .breadcrumb {
        
        > li {
            display: inline-block;
        }
    }
    
    .custom-activity {
        
        h3 {
            text-align: left;
        }
    }
    
    /*--> PAGECONTENT <-*/
    
    .subheading, .subject-desc {
        text-align: left;
    }
    
    .embed-flash {
        
        object, embed {
            display: block;
            width: 640px;
            height: 480px;
        }
        
        &:after {
            content: "";
        }
    }
    
    /*-> ACTIVITYLIST <-*/
    
    .activity, .credits {
        padding: em(30);
        
        &:last-of-type {
            padding: em(30);
        }
        
        h3, h4 {
            text-align: left;
        }
    }
    
    .credits {
        
        &:last-of-type {
            padding-bottom: em(15);
        }
    }
    
    .activity-ul {
        text-align: left;
    }
    
    .activity-ul-top {
        text-align: left;
    }
    
    .activity-thumbnail {
        
        img {
            margin-left: 0;
        }
    }
    
    .activity-open {
        text-align: left;
    }
    
    /*----> HEADER <----*/
    
    .navbar-bottom {
        height: em(88);
    }
    
    /*----> FOOTER <----*/
    
    .footer-links {
        font-size: em(17);
        
        a {
            display: inline-block;
            margin: 0;
            
            &:after {
                content: "▪";
                display: inline-block;
                text-decoration: none;
                height: em(17);
                overflow: hidden;
                padding: 0 em(10);
            }
        }
        a:last-of-type {
            
            &:after {
                content: "";
            }
        }
    }
    
    .copyright, .developer {
        font-size: em(14);
    }
    
    /*--> CALCULATOR <--*/
    
    form.webcalc-form {
        margin-left: 0;
    }
}

@media (min-width: em(992)) { /* Medium devices */
    
    /*---> BOOTSTRAP <--*/
    
    .container {
        //width: 970px;
        max-width: 940px;
    }
}

@media (min-width: em(1200)) { /* Large devices (large devices */
    
}