@media (min-width: em(1.6)) { /* Custom: 1.6px = .1em */
    
    /*---> BOOTSTRAP <--*/
    
    .panel {
        margin-top: em(20);
    }
    
    /*----> GLOBAL <----*/
    
    h1, h2, address {
        text-align: center;
    }
    
    p {
        font-size: em(15);
    }
    
    /*--> STRUCTURAL <--*/
    
    .grid-container {
        padding: em(67) em(20) em(267) em(20);
    }
    
    .breadcrumb {
        
        > li {
            display: none;
        }
    }
    
    /*--> PAGECONTENT <-*/
    
    .subheading, .subject-desc {
        text-align: center;
    }
    
    /*-> ACTIVITYLIST <-*/
    
    
    
    /*----> HEADER <----*/
    
    .navbar-bottom {
        height: em(68);
    }
    
    /*----> FOOTER <----*/
    
    .footer-links {
        font-size: em(15);
        
        a {
            display: block;
            margin: em(4) 0;
            
            &:after {
                content: "";
                display: none;
            }
        }
    }
    
    .copyright, .developer {
        font-size: em(12);
    }
    
}

@media (min-width: em(768)) { /* Small devices */
    
    /*---> BOOTSTRAP <--*/
    
    .container {
        max-width: 720px;
    }
    
    /*----> GLOBAL <----*/
    
    h1, h2, address {
        text-align: left;
    }
    
    p {
        font-size: em(16);
    }
    
    /*--> STRUCTURAL <--*/
    
    .grid-container {
        padding: em(96) 0 em(212) 0;
    }
    
    .breadcrumb {
        
        > li {
            display: inline-block;
        }
    }
    
    /*--> PAGECONTENT <-*/
    
    .subheading, .subject-desc {
        text-align: left;
    }
    
    /*-> ACTIVITYLIST <-*/
    
    
    
    /*----> HEADER <----*/
    
    .navbar-bottom {
        height: em(88);
    }
    
    /*----> FOOTER <----*/
    
    .footer-links {
        font-size: em(17);
        
        a {
            display: inline-block;
            margin: 0;
            
            &:after {
                content: "▪";
                display: inline-block;
                text-decoration: none;
                height: em(17);
                overflow: hidden;
                padding: 0 em(10);
            }
        }
        a:last-of-type {
            
            &:after {
                content: "";
            }
        }
    }
    
    .copyright, .developer {
        font-size: em(14);
    }
}

@media (min-width: em(992)) { /* Medium devices */
    
    /*---> BOOTSTRAP <--*/
    
    .container {
        //width: 970px;
        max-width: 940px;
    }
}

@media (min-width: em(1200)) { /* Large devices (large devices */
    
}