@media (min-width: em(1.6)) { /* Custom: 1.6px = .1em */
    
    /*--> STRUCTURAL <--*/
    
    .grid-container {
        padding: em(60) em(20) em(258) em(20);
    }
    
    /*----> HEADER <----*/
    
    .navbar-bottom {
        height: em(68);
    }
    
    /*----> FOOTER <----*/
    
    .footer-links {
        font-size: em(15);
        
        a {
            display: block;
            margin: em(4) 0;
            
            &:after {
                content: "";
                display: none;
            }
        }
    }
    
    .copyright, .developer {
        font-size: em(12);
    }
}

@media (min-width: em(768)) { /* Small devices */
    
    /*--> STRUCTURAL <--*/
    
    .grid-container {
        padding: em(98) 0 em(213) 0;
    }
    
    /*----> HEADER <----*/
    
    .navbar-bottom {
        height: em(88);
    }
    
    /*----> FOOTER <----*/
    
    .footer-links {
        font-size: em(17);
        
        a {
            display: inline-block;
            margin: 0;
            
            &:after {
                content: "▪";
                
                display: inline-block;
                text-decoration: none;
                height: em(17);
                overflow: hidden;
                padding: 0 em(10);
            }
        }
        a:last-of-type {
            
            &:after {
                content: "";
            }
        }
    }
    
    .copyright, .developer {
        font-size: em(14);
    }
    
}

@media (min-width: em(992)) { /* Medium devices */
    
}

@media (min-width: wm(1200)) { /* Large devices (large devices */
    
}