.subheading {
    display: block;
    margin-bottom: em(20);
}

.media-block {
    border: em(5) solid $hex-black;
    background-color: $hex-yellow;
    @include box-shadow(0 0 em(2.5) 0 $hex-black);
}

.media-gap {
    margin-bottom: em(37.5);
}

.caption {
    background-color: $hex-white;
    padding: em(17.1425);
    @include box-shadow(0 0 em(2.5) 0 $hex-black);
    
    h3 {
        margin-top: 0;
    }
    
    p:last-of-type {
        margin-bottom: 0;
    }
}

.video-container {
    display: block;
    max-width: 560px;
    max-height: 315px;
    margin-bottom: em(59.5);
}

.embed-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: em(35);
    margin: em(28) 0;
    height: 0;
    overflow: hidden;
}

.embed-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.embed-flash {
    display: block;
    max-width: 100%;
}

.embed-sporcle iframe {
    display: block;
    max-width: 100%;
    width: em(670);
    height: em(752);
    margin-top: em(20);
}