/* css transform prefixes */
@mixin transition($str) {
    -webkit-transition: #{$str};
    transition: #{$str};      
}

/* css transform prefixes */
@mixin transform($str) {
    -webkit-transform: #{$str};
    -ms-transform: #{$str};
    transform: #{$str};
}

/* css box shadow prefixes */
@mixin box-shadow($str) {
    -webkit-box-shadow: #{$str};
    box-shadow: #{$str};
}

/* clearfix */
@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}